.startscreen-container {
  height: 90vh;
  margin-top: 10vh;
}

/* .bg-image {
  background-image: url(../../assets/wimmelbild.jpg);
  filter: blur(15px);
  -webkit-filter: blur(15px);
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
} */

.startscreen-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 233, 240, 0.5);
}

.startscreen-content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.startscreen-target-overview {
  padding: 2rem;
}

.startscreen-target-overview img {
  margin: 1rem;
}

.startBtn {
  font-size: 1.5rem;
  padding: 10px;
  background-color: var(--secondary);
  cursor: pointer;
  height: 5vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.5s ease;
}

.startBtn:hover {
  background-color: var(--secondary-hover);
  transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
  .startscreen-body {
    padding: 1rem;
  }

  .startscreen-target-overview {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .startscreen-target-overview img {
    margin: 0.5rem;
  }

  .startBtn {
    width: 33vw;
  }
}
