.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  background-color: var(--background);
}

.welcome-body {
  padding: 5rem;
}

.gameBtn {
  font-size: 1.5rem;
  padding: 10px;
  background-color: var(--secondary);
  cursor: pointer;
  width: 10vw;
}

.gameBtn a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .welcome-body {
    padding: 1rem;
  }

  .gameBtn {
    width: 33vw;
  }
}
