.popup-menu {
  display: none;
  position: absolute;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  cursor: pointer;
  outline: solid 2px black;
  z-index: 100;
}

.popup-menu li,
.popup-menu ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

li:hover {
  background-color: var(--primary);
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

li img {
  height: 50px;
  width: auto;
  padding: 0.2rem;
}

.highlighter {
  outline: solid 2px black;
  border: solid 2px var(--background);
  background-color: rgba(245, 245, 245, 0.201);
  box-shadow: 1px 1px black;
  position: absolute;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.popup-found {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .popup-menu {
    max-height: 25vh;
  }
}
