.scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  background-color: var(--background);
}

.scoreboard-container > h1 {
  height: 10%;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 75vw;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.scoreboard-item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 50vw;
  font-size: 1.5rem;
}
