nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  /*   width: 100vw; */
  background-color: #961111;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: large;
}

.nav-links > a {
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-links > a:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
}
