.game {
  max-width: 100vw;
  height: 90vh;
  cursor: crosshair;
  margin-top: 10vh;
  background-color: var(--primary);
}

.image-container img {
  max-width: 100%;
}

.artist-credits {
  min-height: 10vh;
  background-color: var(--primary);
  color: var(--background);
  padding: 1rem;
}

.artist-credits a {
  color: var(--secondary);
  text-decoration: none;
}

.artist-credits a:visited {
  color: var(--secondary);
}

@media only screen and (max-width: 768px) {
  .image-container {
  }
}
